<p-card class="w-4" *ngIf="units.length">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between align-item-end p-4">
            <p class="text-gray-700 text-xl font-semibold">Units</p>
            <p-button
                icon="pi pi-plus"
                size="small"
                severity="success"
                (onClick)="addUnit()"
            ></p-button>
        </div>
    </ng-template>

    <p-table
        [value]="units"
        [scrollable]="true"
        rowGroupMode="subheader"
        groupRowsBy="unitNumberPrefix"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Unit Number</th>
                <th>Use(Occupancy)</th>
                <th>Rent</th>
                <th>Ownership</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="groupheader" let-unit>
            <tr pRowGroupHeader>
                <td colspan="5" class="surface-200 text-center">
                    Floor: {{ unit.unitNumberPrefix }}
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-unit let-rowIndex="rowIndex">
            <tr>
                <td>
                    <div class="flex flex-column align-items-center">
                        <p
                            class="font-bold m-0 underline cursor-pointer"
                            (click)="openEditUnitModal(unit.id)"
                        >
                            {{ unit.unitNumberPrefix }}-{{ unit.unitNumber }}
                        </p>
                        <qrcode
                            *ngIf="unit.qrUuid"
                            [qrdata]="getQr(unit.qrUuid)"
                            [errorCorrectionLevel]="'M'"
                            [allowEmptyString]="true"
                            [cssClass]="'center'"
                            [errorCorrectionLevel]="'high'"
                            [colorDark]="'#111827'"
                            [colorLight]="'#FFFFFF00'"
                            [elementType]="'svg'"
                            [errorCorrectionLevel]="'H'"
                            [scale]="1"
                            [title]="'BuildingQr'"
                            [width]="30"
                        ></qrcode>
                    </div>
                </td>
                <td>
                    {{ unit.unitDetail?.use }} <br />
                    {{ unit.unitDetail?.occupancyStatus }}
                </td>

                <td>{{ unit.unitDetail?.rent }}</td>
                <td>
                    <p>Single Ownership</p>
                    <p>OwnerCID :10302000402</p>
                </td>
                <td>
                    <p-button class="text-xs" (onClick)="editUnit(unit)">Edit Unit</p-button>
                    <p-button class="text-xs" (onClick)="editUnitDetail(unit)">Edit Detail</p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
<p-card class="w-4" *ngIf="!units.length" header="Units">
    <div class="flex flex-column justify-content-center align-items-center">
        <img style="height: 150px; width: auto" src="assets/nodata2.png" />
        <p>No Units for BuildingID {{ buildingId }}</p>
        <p-button
            icon="pi pi-plus"
            [rounded]="true"
            [outlined]="false"
            size="small"
            (onClick)="addUnit()"
        ></p-button>
    </div>
</p-card>
