<p-toast></p-toast>

<div class="flex justify-content-center">
    <div class="centeredElement">
        <div class="flex justify-content-between align-items-end">
            <div class="flex gap-4 align-items-center">
                <div>
                    <img
                        src="../../../../assets/logo/rgob.png"
                        style="width: 150px"
                        alt=""
                    />
                </div>
                <div style="padding: 0px; margin: 0px">
                    <p class="text-2xl font-semibold">
                        Ministry of Infrastructure and Transport
                    </p>
                    <p class="text-2xl font-semibold">
                        གཞི་རྟེན་མཁོ་ཆས་དང་སྐྱེལ་འདྲེན་ལྷན་ཁག།
                    </p>
                    <p>Department of Human settlements</p>
                    <p>Geomatics and Logistics Division</p>
                </div>
            </div>

            <div class="text-right w-6">
                <p class="text-2xl font-semibold">
                    Zhichar | Building Geodatabase
                </p>
                <p class="">
                    For additional queries write to us at
                    <strong>ynidup&#64;moit.gov.bt</strong>/
                    <strong>nytenzin&#64;moit.gov.bt </strong>
                </p>
            </div>
        </div>

        <hr />

        <div class="flex flex-column align-items-center">
            <div class="text-2xl font-semibold mt-4 mb-2">
                <p>Building Information Correction Request</p>
            </div>
            <p class="attention-blink">
                <a
                    href="../../../../assets/forms/correctionform.pdf"
                    target="_blank"
                    download="Building_Correction_Form.pdf"
                >
                    Download Building Correction Form
                </a>
            </p>

            <div class="my-4 w-4">
                <p class="mb-2">
                    Download the Building Correction form and enter the details
                    of the corrections to be made and upload the form by
                    clicking on the button below.
                </p>
                <p-button
                    label="Upload Request"
                    (click)="openUploadCorrectionRequestModal()"
                    class="w-full md:w-auto"
                ></p-button>
            </div>

            <p class="mt-2">
                If you have already submitted the correction form, please track
                your request by entering the plot Id and the owner cid below.
            </p>
            <div
                class="p-fluid text-center w-full md:w-30rem px-4 mt-3 md:px-0"
            >
                <p class="font-semibold text-xl mt-2 mb-4">
                    Track Request Status
                </p>
                <div
                    class="flex flex-column md:flex-row gap-3 align-items-center"
                >
                    <div class="w-full md:w-auto flex-grow-1">
                        <p-inputGroup class="flex">
                            <input
                                pInputText
                                class="flex-grow-1"
                                placeholder="Plot ID"
                                [(ngModel)]="plotId"
                                type="text"
                                (input)="toUpperCase()"
                            />
                            <input
                                pInputText
                                class="flex-grow-1"
                                placeholder="Owner CID"
                                [(ngModel)]="searchOwnerCid"
                                type="text"
                            />
                            <button
                                type="button"
                                pButton
                                label="Track"
                                (click)="searchStatusByPlotId()"
                                class="w-auto"
                            ></button>
                        </p-inputGroup>
                    </div>
                </div>
            </div>

            <div *ngIf="searched">
                <p class="my-4">
                    Correction Request under the plot ID: {{ plotId }}
                </p>

                <div class="card" *ngFor="let item of correctionRequests">
                    <div class="flex justify-content-between align-items-end">
                        <p class="p-0 m-0">{{ plotId }}</p>
                        <p
                            class="py-0 m-0"
                            [ngClass]="getStatusClass(item.status)"
                        >
                            {{ item?.status }}
                        </p>
                    </div>
                    <hr />
                    <p>Submitted on: {{ item?.createdAt | date : "medium" }}</p>

                    <p>
                        Requested By: {{ item.requestorName }}/{{
                            item.requestorPhoneNumber
                        }}
                    </p>
                    <p-button
                        label="View PDF"
                        size="small"
                        [outlined]="true"
                        severity="secondary"
                        (click)="openViewCorrectionRequestPdf(item)"
                    ></p-button>

                    <div *ngIf="item.status !== correctionRequestEnum.PENDING">
                        <hr />
                        <p class="p-0 m-0">Remarks: {{ item.remarks }}</p>
                        <p class="text-xs p-0 m-0">
                            Updated on: {{ item.updatedAt | date : "medium" }}
                        </p>
                    </div>
                </div>

                <p class="ml-4 mt-4" *ngIf="!correctionRequests.length">
                    - No requests submitted under the supplied plotId
                </p>
            </div>
        </div>
    </div>
</div>
