pdf-viewer {
    width: 50vw; /* Default for desktops */
    height: 80vh;
}

/* For smaller screens */
@media (max-width: 768px) {
    .pdf-viewer {
        width: 90vw; /* Larger width for smaller screens */
        height: 90vh;
    }
}

/* For medium screens like tablets */
@media (max-width: 1024px) and (min-width: 769px) {
    .pdf-viewer {
        width: 70vw; /* Adjust width for tablets */
        height: 85vh;
    }
}