<div class="p-fluid p-2 w-full md:w-30rem">
    <form [formGroup]="correctionForm" (ngSubmit)="onSubmit()">
        <div class="grid">
            <div class="field col-12 md:col-6">
                <label for="plotId">Plot ID <small>(*required)</small> </label>

                <input
                    pInputText
                    id="plotId"
                    formControlName="plotId"
                    type="text"
                />
                <small
                    *ngIf="
                        correctionForm.get('plotId').invalid &&
                        correctionForm.get('plotId').touched
                    "
                    class="p-error"
                    >Plot ID is required.</small
                >
            </div>
            <div class="field col-12 md:col-6">
                <label for="ownerCid"
                    >Owner CID<small>(*required)</small></label
                >
                <input
                    pInputText
                    id="ownerCid"
                    formControlName="ownerCid"
                    type="text"
                />
                <small
                    *ngIf="
                        correctionForm.get('ownerCid').invalid &&
                        correctionForm.get('ownerCid').touched
                    "
                    class="p-error"
                    >Owner CID is required.</small
                >
            </div>

            <p-divider class="col-12"></p-divider>
            <div class="field col-12 md:col-6">
                <label for="requestorName"
                    >Requestor Name <small>(*required)</small></label
                >
                <input
                    pInputText
                    id="requestorName"
                    formControlName="requestorName"
                    type="text"
                />
                <small
                    *ngIf="
                        correctionForm.get('requestorName').invalid &&
                        correctionForm.get('requestorName').touched
                    "
                    class="p-error"
                    >Requestor Name is required.</small
                >
            </div>
            <div class="field col-12 md:col-6">
                <label for="requestorCid"
                    >Requestor CID<small>(*required)</small></label
                >
                <input
                    pInputText
                    id="requestorCid"
                    formControlName="requestorCid"
                    type="text"
                />
                <small
                    *ngIf="
                        correctionForm.get('requestorCid').invalid &&
                        correctionForm.get('requestorCid').touched
                    "
                    class="p-error"
                    >Requestor CID is required.</small
                >
            </div>
            <div class="field col-12 md:col-6">
                <label for="requestorPhoneNumber"
                    >Requestor Phone Number <small>(*required)</small></label
                >
                <input
                    pInputText
                    id="requestorPhoneNumber"
                    formControlName="requestorPhoneNumber"
                    type="text"
                />
                <small
                    *ngIf="
                        correctionForm.get('requestorPhoneNumber').invalid &&
                        correctionForm.get('requestorPhoneNumber').touched
                    "
                    class="p-error"
                    >A valid phone number is required.</small
                >
            </div>

            <div class="field col-12 md:col-6">
                <label for="correctionFile"
                    >Upload Correction Form PDF<small>(*required)</small></label
                >
                <p-fileUpload
                    mode="basic"
                    name="file"
                    chooseLabel="Select File"
                    chooseIcon="pi pi-file"
                    accept=".pdf"
                    maxFileSize="100000000"
                    (onSelect)="onFileSelected($event)"
                ></p-fileUpload>
                <small *ngIf="!selectedPdfFile" class="p-error"
                    >Please upload a valid PDF file.</small
                >
            </div>
        </div>

        <div class="flex gap-2 justify-content-end">
            <p-button
                label="Submit"
                type="submit"
                [disabled]="correctionForm.invalid || !selectedPdfFile"
            ></p-button>
            <p-button label="Cancel" (click)="close()"></p-button>
        </div>
    </form>
</div>
