<form [formGroup]="myForm" class="grid p-4">
    <div class="p-fluid">
        <div class="col-12">
            <div class="field">
                <label for="cid">Citizen Identity Card Numebr </label>
                <p>press enter to search existing details</p>
                <div class="flex">
                    <input id="cid" formControlName="cid" pInputText />
                    <p-button icon="pi pi-search" (onClick)="searchCid()"></p-button>
                </div>
                <div *ngIf="error" class="text-red-800 mt-2">
                    {{error_msg}}
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="field">
                <label for="name">Full Name </label>
                <input id="name" formControlName="name" pInputText readonly="readonly" />
            </div>
        </div>

        <div class="col-12">
            <div class="field">
                <label for="contact">Phone Number </label>
                <p-inputNumber id="contact" [useGrouping]="false" formControlName="contact"
                    readonly="readonly"></p-inputNumber>
            </div>
        </div>

        <div class="col-12">
            <div class="field">
                <label for="type">Ownership Type</label>
                <p-dropdown id="type" class="w-full" formControlName="type" [options]="ownershipTypes" >
                </p-dropdown>
            </div>
        </div>
        <div class="col-12">
            <div class="field">
                <label for="ownershipPercentage">Ownership Percentage </label>
                <p-inputNumber id="ownershipPercentage" mode="decimal" [minFractionDigits]="2"
                    formControlName="ownershipPercentage" ></p-inputNumber>
            </div>
        </div>

        <p-button class="col-12" label="Add Ownership" (click)="createOwnership()" [disabled]="isButtonDisabled"></p-button>
    </div>
</form>