<div class="p-fluid p-2" style="max-width: 40vw">
    <div class="grid">
        <div class="field col-12 md:col-6">
            <label for="nameDzo">Plot ID</label>
            <input pInputText id="nameDzo" [(ngModel)]="plotId" type="text" />
        </div>
        <div class="field col-12 md:col-6">
            <label for="name">Owner CID</label>
            <input pInputText id="name" type="text" [(ngModel)]="ownerCid" />
        </div>

        <p-divider class="col-12"></p-divider>
        <div class="field col-12 md:col-6">
            <label for="nameDzo">Requstor Name</label>
            <input
                pInputText
                id="nameDzo"
                [(ngModel)]="requestorName"
                type="text"
            />
        </div>
        <div class="field col-12 md:col-6">
            <label for="name">Requestor CID</label>
            <input pInputText type="text" [(ngModel)]="requestorCid" />
        </div>
        <div class="field col-12 md:col-6">
            <label for="nameDzo">Requstor Phone Number</label>
            <input pInputText type="text" [(ngModel)]="requestorPhoneNumber" />
        </div>

        <div class="field col-12 md:col-6">
            <label for="nameDzo">Upload Correction Form PDF</label>
            <p-fileUpload
                mode="basic"
                name="file"
                chooseLabel="Select File"
                chooseIcon="pi pi-file"
                accept=".pdf"
                maxFileSize="100000000"
                (onSelect)="onFileSelected($event)"
            ></p-fileUpload>
        </div>
    </div>

    <div class="flex gap-2 justify-content-end">
        <p-button
            label="Create Correction Request"
            (click)="uploadRequest()"
        ></p-button>
        <p-button label="Cancel"></p-button>
    </div>
</div>
