<div class="grid" style="height: 75vh">
    <div class="col">
        <div>Map showing building footprint and the overlapping plots</div>
        <p>
            Also should be able to delete relationship with the plots here or
            create a new overlap >entry/ in the building plots table
        </p>
    </div>
    <div class="col">Building Details, use, floors and all</div>
    <div class="col overflow-scroll h-full">
        <div class="flex justify-content-between">
            <h3>Units In</h3>
            <p-button size="small" label="Add Unit"></p-button>
        </div>
        <p-table
            [value]="units"
            [scrollable]="true"
            rowGroupMode="subheader"
            groupRowsBy="unitNumberPrefix"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Unit Number</th>
                    <th>Use</th>
                    <th>Rent</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="groupheader" let-unit>
                <tr pRowGroupHeader>
                    <td colspan="5" class="surface-200 text-center">
                        Floor: {{ unit.unitNumberPrefix }}
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-unit let-rowIndex="rowIndex">
                <tr>
                    <td>
                        <div class="flex align-items-center">
                            <h2 class="font-bold m-0">
                                {{ unit.unitNumberPrefix }}-{{
                                    unit.unitNumber
                                }}
                            </h2>
                            <qrcode
                                [qrdata]="getQr(unit.qrUuid)"
                                [errorCorrectionLevel]="'M'"
                                [allowEmptyString]="true"
                                [cssClass]="'center'"
                                [errorCorrectionLevel]="'high'"
                                [colorDark]="'#111827'"
                                [colorLight]="'#FFFFFF00'"
                                [elementType]="'svg'"
                                [errorCorrectionLevel]="'H'"
                                [scale]="1"
                                [title]="'BuildingQr'"
                                [width]="30"
                            ></qrcode>
                        </div>
                    </td>
                    <td>{{ unit.unitDetail?.use }}</td>
                    <td>{{ unit.unitDetail?.rent }}</td>
                    <td></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
