<div>
    <div class="flex flex-column align-items-center w-full">
        <qrcode
            *ngIf="building?.qrUuid"
            [qrdata]="getQr(building?.qrUuid)"
            [errorCorrectionLevel]="'M'"
            [allowEmptyString]="true"
            [cssClass]="'center'"
            [errorCorrectionLevel]="'high'"
            [colorDark]="'#111827'"
            [colorLight]="'#FFFFFF00'"
            [elementType]="'svg'"
            [errorCorrectionLevel]="'H'"
            [scale]="1"
            [title]="'BuildingQr'"
            [width]="150"
        ></qrcode>
        <p class="text-center" *ngIf="building?.qrUuid">
            {{ building?.qrUuid }}
        </p>

        <p *ngFor="let plot of buildingPlots">
            Plot: {{ plot.plotId }}
            <br />
            overlapt Percentage:
            {{ round(plot.overlapPercentage) }} %
        </p>
    </div>
    <p-divider type="dotted"></p-divider>

    <div class="flex justify-content-end">
        <p-toast></p-toast>
        <p-confirmDialog></p-confirmDialog>
        <div class="">
            <p-button
                label="Delete"
                severity="danger"
                icon="pi pi-trash"
                class="mr-4"
                (click)="confirm2($event)"
            ></p-button>
            <p-button
                label="View Details"
                class="mr-4"
                (click)="goToBuildingDetailedView(buildingId)"
            ></p-button>
            <p-button
                *ngIf="!isBuildingPoint || showZhicharPoints"
                label="Show Zhichar Points"
                class="mr-4"
                (click)="showBuildingsNearBy()"
            ></p-button>
            <p-button
                *ngIf="isBuildingPoint"
                label="Clear Zhichar Points"
                class="mr-4"
                (click)="clearBuildingNearBy()"
            ></p-button>
            <p-button
                *ngIf="showRedrawBuildings"
                label="Redraw Building"
                (click)="redrawBuilding(buildingId)"
            ></p-button>
            <p-button
                *ngIf="showRedrawBuildings"
                label="Decouple Building from Plot"
                (click)="decoupleBuilding(buildingId)"
            ></p-button>
        </div>
    </div>
</div>
